*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.top-header{
background-image:url(./top-bar.jpg);
display:flex;
justify-content:space-between;
padding:10px 100px;
}


.top-header-sub{
	font-size:18px;
}

.search-options-img{
	width:100px;
	
}

.search-container{
	display:flex;
	gap:20px;
	padding:20px 80px;
	border-bottom:0.5px solid lightgray;
	
}

.search-options{
	display:flex;
	gap:30px;
	
}
.search-options-a{
	color:black;
	text-decoration:none;
	padding-top:15px;
}

#search-input{
	width:220px;
	height:45px;
	padding:20px;
	color:gray;
	background-color:lightgray;
	border-radius:5px;
	border:1px solid lightgray;
}
.search-bar{
	margin-left:150px;
}
.search-sign{
	width:80px;
	height:45px;
	background-color:#E75480;
	color:white;
	font-size:18px;
	border-radius:5px;
	border:1px solid #E75480;
}

.bag-img{
	margin-left:23px;
}

.navigation-list{
	display:flex;
	gap:35px;
	list-style:none;
	text-decoration:none;
	padding:18px;
  padding-left:100px;
	font-size:15px;
	border-bottom:0.5px solid lightgray;
	box-shadow:3px 3px 5px lightgray
}

.navigation-list-a{
	color:gray;
	text-decoration:none;
}

.slider-heading{
	width:100%;
	padding-top:2px;
}
.slider-imgs{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	justify-content:center;
	
}
.slider-img1{
	width:400px;
	border-radius:10px;
}
.img-line{
	
	margin-left:75px;
}
.slider-imgs2{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	justify-content:center;
	background-color:lightyellow;
}
.slider-img2-1{
	width:400px;
	border-radius:10px;
}