*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

  .phndiv{
              display:flex;
              flex-direction: column;
              padding-top:10px;
              border-bottom: 2px solid lightpink;
			 
          }
		  
		  .phnimg{
			width:90px;  
			  
		  }
		  
          .phnhead{
              display:flex;
              gap: 20px;
              margin:5px;
			  justify-content:center;
          }
         .phnbag{
             margin-left: 150px;
			 padding-top:10px;
         }
          #search-input-phn{
              width:330px;
              height: 30px;
              border-radius: 20px;
			   background-image:url(./assets/top-bar.jpg);
              padding: 20px;
              border:none;
              box-shadow:3px 3px 3px lightgray;
          }
           
		    #search-input-phn::placeholder{
				color:black;
			}
		   
          .search-form-phn{
         padding : 15px 20px;
		 text-align:center;
             
          }
          .phn1{
              width:100vw;
              padding:10px 0;
          }
          .phnpro{
			   padding-top:10px;
		  }
            .icon{
				 padding-top:8px;
			}


.top-header{
background-image:url(./assets/top-bar.jpg);
display:flex;
justify-content:space-between;
padding:10px 100px;

}


.top-header-sub{
	font-size:18px;
}

.search-options-img{
	width:100px;
	
}

.search-container{
	display:flex;
	gap:20px;
	padding:20px 80px;
	border-bottom:0.5px solid lightgray;
	
	background-color:white;
}
.main-header{
	position:sticky;
	top:0;

}
.search-options{
	display:flex;
	gap:30px;
	
}
.search-options-a{
	color:black;
	text-decoration:none;
	padding-top:15px;
}

#search-input{
	width:220px;
	height:45px;
	padding:20px;
	color:gray;
	background-color:lightgray;
	border-radius:5px;
	border:1px solid lightgray;
}
.search-bar{
	margin-left:150px;
}
.search-sign{
	width:80px;
	height:45px;
	background-color:#E75480;
	color:white;
	font-size:18px;
	border-radius:5px;
	border:1px solid #E75480;
}

.bag-img{
	margin-left:23px;
}



.navigation-list{
	display:flex;
	
	list-style:none;
	text-decoration:none;
	padding:18px;
  justify-content:center;
	font-size:15px;
	border-bottom:0.5px solid lightgray;
	box-shadow:3px 3px 5px lightgray
}

.navigation-list-a{
	color:gray;
	text-decoration:none;
	padding:20px;
}

.slider-heading{
	width:100vw;
	padding-top:2px;
}
.slider-imgs{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	justify-content:center;
	
}
.slider-img1{
	padding:10px;
	width:32%;
	border-radius:10px;
}
.img-line{
	width:100vw;
	padding:20px 40px;

}
.slider-imgs2{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	justify-content:center;
	background-color:lightyellow;
	
}
.slider-img2-1{
	width:400px;
	border-radius:10px;
	
}
.slider-imgs2-top{
	width:100%;
	
}
.animation-line-1{
	width:100%;
}
.offers-cards-box{
	display:flex;
	flex-wrap:wrap;
	gap:18px;
	justify-content:center;
}
.offers-card{
	border-radius:10px;
	width:250px;
}
.lakme-headline{
	background-color:#fff8f9;
		display:flex;
		flex-direction:column;
	
}
.lakme-head{
	width:100%;
	margin-top:50px;
}
.lakme-imgs{
	display:flex;
	gap:30px;
}
.nykaa-luxe-img{
	width:30%;
	border-radius:10px;
}
.nykaa-luxe-head{
	width:100vw;
	
}
.luxe-img{
	display:flex;
	gap:20px;
	justify-content:center;
}
.nykaa-luxe{
	display:flex;
	flex-direction:column;
	margin-top:15px;
}
.deals{
	padding:20px 30px;
	border-bottom:3px solid lightgray;
	width:95%;
	margin-left:50px;
}
.double-lines{
	display:flex;
	padding:40px 60px;
	gap:20px;
}
.double-lines-1{
	border-radius:10px;
}
.blur-img{
	width:15%;
}
.blur-card{
	display:flex;
	flex-wrap:wrap;
	gap:10px;
	justify-content:center;
}

.bbf{
	padding:20px 40px;
}
.bbfimg{
	width:100%;
	padding:10px 40px;
	border-radius:10px;
}
.bbf-cards{
	display:flex;
	gap:15px;
	padding:10px 40px;
}
.bbf-card-img{
	width:15.7%;
}
.bbf-div{
	display:flex;
	flex-direction:column;

}
.show{
	width:95vw;
	text-align:center;
	 display: block;
  margin: auto;
 padding:30px 0;
}
.payment{
	width:100%;
	text-align:center;
	 display: block;
  margin: auto;
 padding:30px 40px;
}
.store{
	padding:20px 40px;
}




@media screen and (max-width:480px){
	
	.desktop{
		display:none;
	}
	
	
	.lakme-imgs{
	flex-direction:column;
	padding:10px 20px;
	align-items:center;
}
.lakme-card{
	width:50%;
}

   .luxe-img{
	flex-direction:column;
	align-items:center;
}
.get-deal{
	display:none;
}
.bbf-cards{
	flex-direction:column;
	align-items:center;
}	
.bbf-card-img{
	width:70%;
}

.nykaa-luxe-img{
	width:70%;

}

.top-footer{
	flex-direction:column;
	gap:none;
}
.slider-img1{
	width:90vw;
}

.slider-img2-1{
	width:90vw;
}
.show{
	display:none;
}
}

@media screen and (min-width:481px){
	
	.phone{
		display:none;
	}
}

.top-footer{
	display:flex;
	gap:80px;
	justify-content:center;
	background-color:#1c2e4a;
}
.google-play{
	width:120px;
}
#search-input-footer{
	background-color:#1c2e4a;
     border-bottom: 1px solid white;
	padding:15px;	
	color:white;
}
.btnfooter{
	width:80px;
	border-radius:10px;
	padding:5px;
}

.top-footer1{
	color:white;
	padding:30px;
}
#search-input-footer{
	padding:1px;
}
.footform{
	padding:10px;
}

#search-input-footer::placeholder{
	color:white;
}



.google-play{
	padding:20px 10px;
}